<div class="jumbotron bg-light p-4" align="center">
    <h1 class="display-4">Bem vindo ao Meu Blog</h1>
    <p class="lead">Este é um blog simples, desenvolvido com Node.js + Express + MongoDB.</p>
    <hr class="my-4">
    <p>Aqui você vai poder ler sobre as novidades do mundo da computação.</p>
    <p class="lead">
        <a class="btn btn-success btn mb-4" href="#" role="button">Registrar</a>
    </p>
</div>

<h3 class="mt-4">Minhas postagens:</h3>

{{#each postagens}}
<div class="card mt-4 mb-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}" class="link">Leia mais</a>
        <hr>
        <small>Categoria: {{ categoria.nome }}</small><br>
        <small>Data de publicação: {{ data }}</small>
    </div>
</div>

{{else}}
    <h5>Nenhuma postagem registrada.</h5>
{{/each}}